*/.wasp/
*/.env.server
*/.env.client
*/node_modules
/node_modules/*
*/.DS_Store
.DS_Store
.env*
*.log
*.sh
*/migrations/*
*.pyc
*.pyo
*.pyd
*.venv
doc_flow/voices.json
app/deploy_client.sh
.venv
.cursor/rules/cursorrules.mdc

# Astro
# build output
dist/
# generated types
.astro/

# deployment
.netlify/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store